<div class="grid gap-6 lg:grid-cols-2">


  <div class="bg-white shadow px-5 py-4 rounded">
    <h2 class="mb-5 text-lg font-bold text-gray-800">Record</h2>
    <div>
      <dynamic-form [fields]="recordFields" [errors]="recordErrors" [data]="record" (send)="onRecordSend($event)">
      </dynamic-form>
    </div>
  </div>


  <div class="flex space-y-6 flex-col">

    <div class="bg-white shadow px-5 py-4 rounded">
      <h2 class="mb-5 text-lg font-bold text-gray-800">Client</h2>
      <div>
        <dynamic-form [fields]="clientFields" [errors]="clientErrors" [data]="client" (send)="onClientSend($event)">
        </dynamic-form>
      </div>
    </div>

    <div class="bg-white shadow px-5 py-4 rounded">
      <h2 class="mb-5 text-lg font-bold text-gray-800">Files</h2>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let document of documents">
            <mat-icon mat-list-icon style="opacity: 0.54; margin-right: 6px;">attach_file</mat-icon>
            <div mat-line><b>{{ document.name }}</b></div>
            <div mat-line><i>{{ document.created_on|date:'dd.MM.yyyy HH:mm' }}</i></div>
            <button mat-button color="primary" (click)="onDownloadClick(document.id, document.name)">Download</button>
            <button mat-button color="warn" (click)="onDeleteClick(document.id)">Delete</button>
          </mat-list-item>
          <mat-list-item style="height: auto; padding-top: 16px;">
            <dynamic-form style="width: 100%;" [fields]="documentFields" [errors]="documentErrors"
              (send)="onDocumentSend($event)" [data]="documentData">
            </dynamic-form>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="bg-white shadow px-5 py-4 rounded">
      <h2 class="mb-5 text-lg font-bold text-gray-800">Messages</h2>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let message of messages">
            <mat-icon mat-list-icon style="opacity: 0.54; margin-right: 6px;">chat</mat-icon>
            <div mat-line style="width: 100%;">
              <div style="width: 100%; display: flex; justify-content: space-between;">
                <b>{{ message.sender ? message.sender.name : 'Deleted user' }}:</b>
                <i>{{ message.created_on|date:'dd.MM.yyyy HH:mm' }}</i>
              </div>
              <p class="whitespace-pre" style="margin-top: 2px; margin-bottom: 0;">{{ message.message }}</p>
            </div>
          </mat-list-item>
          <mat-list-item style="height: auto; padding-top: 16px;">
            <dynamic-form style="width: 100%;" [fields]="messageFields" [errors]="messageErrors"
              (send)="onMessageSend($event)" [data]="messageData"></dynamic-form>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="bg-white shadow px-5 py-4 rounded">
      <div class="flex items-baseline justify-between">
        <h2 class="text-lg font-bold text-gray-800">Questionnaires</h2>
        <button mat-button color="primary" type="button" (click)="publishQuestionnaire()">
          Publish a questionnaire
        </button>
      </div>
      <div class="pt-5" *ngIf="recordQuestionnaires.length">
        <ul class="space-y-4">
          <li class="block py-3 px-4 rounded bg-gray-100" *ngFor="let item of recordQuestionnaires">
            <div class="flex items-baseline justify-between">
              <h3 class="text-lg font-bold">{{ item.questionnaire.name }}</h3>
              <div>
                <button type="button" mat-button color="primary" (click)="copyLink(item.code)">Copy
                  link</button>
                <button type="button" mat-button color="warn"
                  (click)="deleteRecordQuestionnaire(item.id)">Delete</button>
              </div>
            </div>
            <div class="flex items-baseline space-x-5">
              <div>
                Published: {{ item.created|date:'d.M.Y' }}
              </div>
              <div>
                Answered: {{ item.answered ? 'Yes' : 'No' }}
              </div>
              <div>
                Link: {{ base }}/records/upload/{{ item.code }}
              </div>
            </div>
            <hr class="my-3 border-gray-300">
            <p *ngIf="item.answered" class="whitespace-pre-line">
              {{ item.answer }}
            </p>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>

<div style="height: 500px;"></div>